* {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  clear: both;
  float: none;
}

.carousel-container .indicators li a:hover {
  background: rgba(255, 255, 255, 0.8);
}
.carousel-container .indicators li a.active {
  background: rgba(255, 255, 255, 0.8);
}
