* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #80be1f;
  text-align: center;
}
.wrapper {
  position: relative;
  width: 560px;
  height: 100%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}
.road {
  width: 360px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: url(../images/road.png) repeat-y top left;
}
.screen_background {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Helvetica', sans-serif;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: relative;
  top: 250px;
  padding: 10px 0;
}
.screen_background p {
  margin-bottom: 10px;
}
.screen_background a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}
.screen_background a:hover {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: underline;
}
.screen_background img {
  width: 150px;
  vertical-align: middle;
}

.info_div,
.score_div {
  font-family: 'Helvetica', sans-serif;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  padding: 10px 1px;
  background: rgba(0, 0, 0, 0.6);
}
.score_div h2 {
  font-size: 12px;
  font-weight: 400;
}
.info_div {
  left: auto;
  right: 0;
}
.info_div h2 {
  font-size: 16px;
}
.info_div p {
  font-size: 12px;
}
.ammo {
  width: 50px;
  height: 10px;
  border-radius: 4px;
  background-color: #fdfd35;
  position: relative;
  left: 24px;
}
.cars {
  position: absolute;
  background-image: url(../images/attack-cars.png);
  background-repeat: no-repeat;
}

.ambulance {
  width: 70px;
  height: 140px;
  background-position: -6px -6px;
  z-index: 10;
}

.ambulance_crash {
  width: 70px;
  height: 140px;
  background-position: -88px -6px;
  z-index: 10;
}

.audi {
  width: 64px;
  height: 140px;
  background-position: -170px -6px;
  z-index: 10;
}

.audi_crash {
  width: 64px;
  height: 140px;
  background-position: -246px -6px;
  z-index: 10;
}

.black_viper {
  width: 68px;
  height: 140px;
  background-position: -322px -6px;
  z-index: 10;
}

.black_viper_crash {
  width: 68px;
  height: 140px;
  background-position: -6px -158px;
  z-index: 10;
}

.car {
  width: 60px;
  height: 140px;
  background-position: -86px -158px;
  z-index: 10;
}

.car_crash {
  width: 60px;
  height: 140px;
  background-position: -158px -158px;
  z-index: 10;
}

.police {
  width: 64px;
  height: 140px;
  background-position: -230px -158px;
  z-index: 10;
}

.police_crash {
  width: 64px;
  height: 140px;
  background-position: -306px -158px;
  z-index: 10;
}

.simple_car_blue {
  width: 68px;
  height: 120px;
  background-position: -6px -310px;
}

.simple_car_green {
  width: 68px;
  height: 120px;
  background-position: -86px -310px;
}

.simple_car_orange {
  width: 68px;
  height: 120px;
  background-position: -166px -310px;
}

.simple_car_purple {
  width: 68px;
  height: 120px;
  background-position: -246px -310px;
}

.simple_car_red {
  width: 70px;
  height: 120px;
  background-position: -326px -310px;
}

.simple_car_yellow {
  width: 68px;
  height: 120px;
  background-position: -402px -6px;
}

.taxi {
  width: 70px;
  height: 140px;
  background-position: -402px -138px;
  z-index: 10;
}

.taxi_crash {
  width: 70px;
  height: 140px;
  background-position: -408px -290px;
  z-index: 10;
}

.bullet {
  width: 10px;
  height: 50px;
  border-radius: 4px;
  background-color: #fdfd35;
}
.explode {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-image: url(../images/explode.png);
  background-color: transparent;
  background-position: center;
  background-size: 100% 100%;
}
