/* header begins */
header.wrapper {
  background: #212429;
  line-height: 3.4375em;
}
header nav {
  background: transparent;
  float: left;
}
header nav ul {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 100%;
  display: none;
  z-index: -1;
}
header nav:hover ul {
  display: block;
  z-index: 5;
}
header nav li {
  background: #212429;
  padding: 0 15px;
}
header nav li a {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Hind", sans-serif;
  border-bottom: 1px solid #3c3c3c;
}
header nav li:first-child a {
  border-top: 1px solid #3c3c3c;
}
header .logo {
  width: 9.4375em;
  float: right;
}
header .social:before {
  content: "";
  display: block;
  clear: both;
  float: none;
}
header .social {
  float: right;
  border-top: 1px solid #3c3c3c;
}
header .social li {
  float: left;
  border-right: 1px solid #3c3c3c;
}
header .social li:first-child {
  float: left;
  border-left: 1px solid #3c3c3c;
}
header .social li a {
  color: #fff;
  font-size: 0.875em;
}
header .social li a .icon {
  width: 3.928571428571429em;
  height: 3.928571428571429em;
}
/* header ends */

/* banner begins */
.banner {
  background: #212429;
}
.banner .slider .slide img {
  width: 100%;
}
.banner .slider .slide figcaption {
  color: #ffffff;
  font-family: "Hind", sans-serif;
  padding: 0 15px;
}
.banner .slider .slide figcaption span {
  display: block;
  font-weight: 600;
  font-size: 1em;
  padding-left: 2px;
}
.banner .slider .slide figcaption p {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.25em;
}
.banner .slider .indicators {
  width: 5.5em;
  margin: 0 auto;
}
.banner .slider .indicators li {
  float: left;
  padding: 5px;
}
.banner .slider .indicators a {
  display: block;
}
.banner .slider .indicators span {
  width: 1.2em;
  height: 1.2em;
}
.banner .slider .controls {
  display: none;
}
/* banner ends */

/* newsletter begins */
.newsletter {
  padding-bottom: 59px;
}
.newsletter form {
  padding-top: 18px;
  text-align: center;
  background: #f9f9fb;
  border: 1px solid #f5f5f7;
  padding-bottom: 17px;
}
.newsletter .container {
  background: #f7f7f7;
}
.newsletter form label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.4em;
}
.newsletter form button[type="submit"],
.newsletter form input {
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 0.9375em;
  line-height: 3.333333333333333em;
  display: block;
  border: none;
  width: 100%;
  letter-spacing: 1px;
}
.newsletter form input:focus {
  outline: none;
}
.newsletter form button[type="submit"] {
  background: #212121;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
.newsletter form div {
  line-height: 3.125em;
  margin: 9px 15px;
  padding: 0 15px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
}
.newsletter form .form-button {
  padding: 0;
  border: none;
}
/* newsletter ends */

/* post begins */
.posts .main figure img {
  width: 100%;
  display: block;
}
.posts .post {
  font-family: "Hind", sans-serif;
  margin-bottom: 59px;
}
.posts .main figure {
  position: relative;
  border: 1px solid #f5f5f7;
}
.posts .main .bg figure {
  border: none;
  border-bottom: 1px solid #f5f5f7;
  box-shadow: 2px 2px 2px 2px #dddddd13;
}
.posts .main figure .icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 51px;
  height: 44px;
}
.posts .main article {
  text-align: center;
}
.posts .main .tag-image {
  position: relative;
  margin: 0 auto;
  bottom: 45px;
  width: 40px;
  height: 35px;
  box-shadow: 3px 3px 3px 0px #eaeaea13;
}
.posts .main article {
  font-size: 1em;
  margin-bottom: 26px;
}
.posts .main .desc {
  color: #999999;
  text-transform: uppercase;
}
.posts .main .desc .fa {
  margin: 0 12px;
}
.posts .main article {
  padding: 23px 0 44px 0;
  border-bottom: 1px solid #f2f2f4;
}
.posts .main article h2 {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75em;
  line-height: 1.428571428571429em;
  padding: 9px 0 13px 0;
}
.posts .main .tag,
.posts .main .desc {
  color: #999999;
  text-transform: uppercase;
}
.posts .main .desc {
  margin-bottom: 21px;
}
.posts .main .desc a {
  color: #999999;
}
.posts .main article p {
  line-height: 1.75em;
  color: #464646;
  padding: 0 15px;
  margin-bottom: 37px;
}
.posts .main .read-more {
  font-size: 0.875em;
  text-transform: uppercase;
  line-height: 2.142857142857143em;
  border-right: 2px solid #d7d7d7;
  border-left: 2px solid #d7d7d7;
  padding: 0 14px;
  color: #212121;
}
.posts .main .post .likes:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}
.posts .main .post .likes li {
  float: left;
}
.posts .main .post.bg {
  background: #ffffff;
  border: 1px solid #f5f5f7;
}
.posts a:hover .fa {
  position: relative;
  top: -2px;
}
.quotation {
  background: #131d1c;
  color: #ffffff;
  font-family: 'Hind', sans-serif;
  padding-top: 48px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 59px;
}
.posts .main .quotation .tag-image {
  position: relative;
  margin: 0 auto;
  bottom: 66px;
  width: 44px;
  height: 39px;
  box-shadow: none;
}
.posts .main .quotation blockquote {
  font-size: 1.25em;
  line-height: 1.8em;
  padding: 0 15px 40px;
}
.posts .main .quotation a{
  font-size: 1em;
  line-height: 1.8em;
  color: #999999;
}
.posts .main .quotation blockquote a{
  display: block;
}
.posts .sidebar {
  display: none;
  font-family: 'Hind', sans-serif;
  margin-bottom: 59px;
}
.posts .sidebar .search button,
.posts .sidebar .search input {
  display: block;
  float: left;
  border: none;
  font-size: 0.9375em;
  line-height: 3.3333em;
  text-transform: uppercase;
}
.posts .sidebar .search input[type="text"] {
  width: 83.33333333333333%;
  color: #212121;
  background: #f9f9fb;
}
.posts .sidebar .search button {
  width: 16.66666666666667%;
  background: #212121;
  color: #ffffff;
}
.posts .sidebar .lists .heading {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 15px;
}
.posts .sidebar .lists {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #212121;
  line-height: 3.75em;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.posts .sidebar .lists .latest {
  line-height: 2.0427em;
}
.posts .sidebar .lists li{
  border-bottom: 1px solid #f7f7f7;
}
.posts .sidebar .lists li:first-child{
  border-top: 1px solid #f7f7f7;
}
.posts .sidebar .lists .right {
  float: right;
}
.posts .sidebar .lists .right:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
.posts .sidebar .latest {
  padding-top: 23px;
  padding-bottom: 15px;
}
.posts .sidebar .latest img{
  width: 26.66666666666667%;
}
.posts .sidebar .latest div{
  width: 70%;
}
.posts .sidebar .latest h3{
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.0625em;
  font-family: 'Montserrat', sans-serif;
}
.posts .sidebar .latest h3 a {
  color: #212121;
}
.posts .sidebar .latest p{
  font-size: 0.8em;
  font-weight: 400;
  color: #999999;
}
.posts .sidebar .latest span{
  padding-right: 5px;
}
.posts .sidebar .latest i{
  font-style: normal;
}
.posts .sidebar .social {
  text-align: center;
}
.posts .sidebar .social li{
  float: left;
  width: 20%;
}
.posts .sidebar .social li a {
  color: #464646;
}
.posts .sidebar .slider img {
  width: 100%;
}
.posts .sidebar .facebook img {
  width: 100%;
}
/* post ends */

/* footer begins */

/* footer ends */

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 40em) {
  header .logo {
    padding-left: 30px;
    float: left;
  }
  header .social {
    border-top: none;
  }
  .posts .main .post .likes {
    float: left;
  }
  .posts .main .post .likes li {
    float: left;
  }
  .posts .main .post .social {
    float: right;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {
  header nav ul {
    width: auto;
    left: auto;
    z-index: 10;
  }
  header nav:hover ul {
    display: block;
  }
  header nav li {
    background: transparent;
    padding: 0;
    float: left;
    padding-left: 44px;
  }
  header nav li:first-child {
    padding-left: 20px;
  }
  header nav li:first-child a {
    border-top: none;
  }
  header nav li a {
    border-bottom: none;
  }
  .banner .slider .slide {
    position: relative;
  }
  .banner .slider figcaption {
    position: absolute;
    left: 80px;
    bottom: 80px;
    padding: 0;
  }
  .banner .slider .slide figcaption span {
    letter-spacing: 2px;
    padding-left: 2px;
  }
  .banner .slider .slide figcaption p {
    font-size: 2.5em;
    letter-spacing: 3px;
    word-spacing: 3px;
  }

  .newsletter form {
    text-align: left;
  }
  .newsletter form > label {
    float: left;
    width: 22%;
  }
  .newsletter form > div {
    float: left;
    width: 22%;
    margin: 0 4px;
  }
  .newsletter form label {
    font-size: 1.25em;
  }
  .posts .main {
    width: 73.0769%;
    float: left;
  }
  .posts .sidebar {
    display: block;
    width: 22.2307%;
    float: right;
    background: #ffffff;
    padding: 39px 10px 0;
  }
  .posts .sidebar form {
    padding-bottom: 40px;
  }
  .posts .sidebar .adsense img{
    width: 100%;
    display: block;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 64em) {
  header .logo {
    padding-left: 0;
    float: none;
    margin: 0 auto;
  }
  header .social:before {
    content: none;
  }
  header .social {
    margin-top: -55px;
  }
  .newsletter form label {
    font-size: 1.25em;
    letter-spacing: 2px;
    width: 18%;
  }
  .newsletter form input {
    font-size: 0.9375em;
    line-height: 3.333333333333333em;
  }
  .newsletter form div {
    margin: 0 15px;
    padding: 0 15px;
  }
  .posts .sidebar {
    width: 21.2307%;
    padding: 39px 20px 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75em) {
  .banner {
    background: url(../images/banner/banner-bg.png) repeat-x top left;
  }
  .banner .slider {
    position: relative;
  }
  .banner .slider figcaption {
    position: absolute;
    left: 100px;
    bottom: 161px;
  }
  .banner .slider .slide figcaption p {
    max-width: 13.75em;
  }
  .banner .slider .indicators {
    position: absolute;
    width: auto;
    right: 57px;
    top: 201px;
  }
  .banner .slider .indicators li {
    float: none;
    padding: 5px;
  }
  .banner .slider .indicators a {
    display: block;
  }
  .banner .slider .indicators span {
    width: 0.5em;
    height: 0.5em;
  }
  .banner .slider .controls {
    display: block;
    position: absolute;
    top: 126px;
    right: 35px;
  }
  .banner .slider .controls span {
    display: block;
    margin-bottom: 14px;
    text-indent: -10000px;
  }
  .banner .slider .controls .control-up {
    background: url("../images/banner/control-up.png") no-repeat center;
    width: 11px;
    height: 21px;
  }
  .banner .slider .controls .control-down {
    background: url("../images/banner/control-down.png") no-repeat center;
    width: 11px;
    height: 21px;
  }
  .banner .slider .featured-article {
    background: url(../images/banner/featured-article.png) no-repeat center;
    width: 10px;
    height: 125px;
  }
  .newsletter form label {
    width: 7.5em;
    padding: 0 20px 0 15px;
  }
  .newsletter form div {
    width: 17.2em;
    margin: 0 15px;
    padding: 0 15px;
  }
  .posts .main article h2 {
    padding: 0 58px;
  }
  .posts .main article p {
    padding: 0 58px;
  }
  .posts .main .post .likes {
    padding: 0 58px;
  }
  .posts .main .quotation blockquote {
    padding: 0 58px 40px;
  }
  .posts .sidebar {
    width: 20.2307%;
    padding: 39px 25px 0;
  }
}