* {
  margin: 0;
  padding: 0;
}
.carousel-container {
  width: 640px;
  height: 320px;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  clear: both;
  float: none;
}

.carousel-container .indicators li a:hover {
  background: rgba(255, 255, 255, 0.8);
}
.carousel-container .indicators li a.active {
  background: rgba(255, 255, 255, 0.8);
}
