@font-face {
  font-family: 'FlappyScore';
  src: url(../fonts/FB.ttf);
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #252525;
}
.container {
  background: #252525;
}
