@charset "UTF-8";

/* General styles */
.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

.col3-left .left {
  float: left;
}
.col3-left .main {
  float: left;
}
.col3-left .r {
  float: right;
}
.col2-left .left {
  float: left;
}
.col2-left .main {
  float: right;
}
/* --------------------- */

/***** Header begins *****/
.header .logo {
  float: left;
}
.header .nav {
  float: right;
}
.header .nav li {
  float: left;
}

.header .dropdown .dd-padd .dd-left {
  float: left;
}
.header .dropdown .dd-padd .dd-right {
  float: right;
}
/***** Header ends *****/


/***** Page Intro begins *****/
.page-intro .page-title {
  float: left;
}
.page-intro .breadcrumbs {
  float: right;
}
.page-intro .breadcrumbs li {
  float: left;
}

/***** Page Intro begins *****/


/***** Performance begins *****/
.performance .layout-padd {
  padding: 51px 0 0 0;
}
.performance .main .visuals li {
  float: left;
}
/***** Performance ends *****/


/***** Our team begins *****/
.our-team .content-box {
  float: left;
}
.our-team .content-box-wrapper  {
  position: relative;
}
.our-team .content-box-wrapper > div {
  position: absolute;
}
.our-team .content-box .image-holder {
  position: relative;
}
.our-team .content-box .button {
  position: absolute;
}
.our-team .content-box .content {
  position: absolute;
}
.our-team .content-box .top-shadow {
  position: absolute;
}
.our-team .content-box .bottom-shadow {
  position: absolute;
}
.our-team .content-box .social li {
  float: left;
}
.our-team .content-box .button a {
  position: relative;
}
.our-team .content-box .button a:before {
  position: absolute;
}
.our-team .content-box .button a:after {
  position: absolute;
}
.our-team .content-box .social li:hover {
  position: relative;
}
/***** Our team ends *****/


/***** Best Solution begins *****/
.best-solution .clients > div {
  float: left;
}
.best-solution .clients .controls {
  float: right;
}
.best-solution .clients .controls .left,
.best-solution .clients .controls .right {
  float: left;
}
.best-solution .client-slider li {
  float: left;
}
/***** Best Solution ends *****/


/***** Footer begins *****/
.footer .posts .post-img {
  float: left;
}
.footer .copyright .main li {
  float: left;
}
/***** Footer ends *****/