@charset "UTF-8";
.container {
  width: 16.125em;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  float: none;
  clear: both;
}

/* General Layout items */

/***** header begins *****/
.header .logo {
  float: left;
}
.header .nav {
  float: right;
}
.header .nav ul {
  position: absolute;
}
.header .nav .curved-edges a:before {
  float: left;
}
.header .nav .curved-edges a:after {
  float: right;
}
.header .nav .dropdown a:before {
  float: left;
}
.header .nav .dropdown .dropdown-content {
  position: static;
}
.header .nav .search .search-bar:before {
  float: right;
}
.header .nav .search .search-bar {
  float: left;
}
.header .nav .search .search-bar:before {
  float: left;
}
.header .nav .search .search-bar:after {
  float: right;
}
.header .nav .search .search-icon {
  float: right;
}
/***** header ends *****/

/***** page-heading begins *****/
.page-heading .page-title {
  float: left;
}
.page-heading .breadcrumbs {
  float: right;
}
.page-heading .breadcrumbs li {
  float: left;
}
/***** page-heading ends *****/

/***** performance begins *****/
.performance .layout-padd {
  padding: 2em 0 0 0;
}
/***** performance ends *****/

/***** our-team begins *****/
.our-team .content-box .image-holder {
  position: relative;
}
.our-team .content-box .button {
  position: absolute;
}
.our-team .content-box .content {
  position: absolute;
}
.our-team .content-box .top-shadow {
  position: absolute;
}
.our-team .content-box .bottom-shadow {
  position: absolute;
}
.our-team .content-box .social li {
  float: left;
}
.our-team .content-box .button a {
  position: relative;
}
.our-team .content-box .button a:before {
  position: absolute;
}
.our-team .content-box .button a:after {
  position: absolute;
}
.our-team .content-box .social li:hover {
  position: relative;
}
/***** our-team ends *****/

/***** best-solution begins *****/
.best-solution .clients > div {
  float: left;
}
.best-solution .clients .controls {
  float: right;
}
.best-solution .clients .controls .left,
.best-solution .clients .controls .right {
  float: left;
}
/***** best-solution ends *****/

/***** footer begins *****/
.footer .posts .post-img {
  float: left;
}
.footer .copyright .main li {
  float: left;
}
/***** footer ends *****/

/* Very very small screens */
@media only screen and (min-width: 20em) {
  .container {
    width: 18.125em;
  }
  .col3-left .left {
    float: left;
  }
  .col3-left .main {
    float: left;
  }
  .col3-left .r {
    float: right;
  }
  .col2-left .left {
    float: left;
  }
  .col2-left .main {
    float: right;
  }
  .footer .blog {
    float: left;
  }
}

/* Samsung Galaxy S5 portrait */
@media (min-width: 22.5em) {
  .container {
    width: 20.625em;
  }
}

/* Very Small screens */
@media (min-width: 30em) {
  .container {
    width: 28.125em;
  }

  /***** performance begins *****/
  .performance .main .grid-box-2:after {
    float: none;
  }
  .performance .main .visuals .content {
    float: left;
  }
  /***** performance ends *****/

  /***** best-solution begins *****/
  .best-solution .client-slider .items {
    float: left;
  }
  /***** best-solution ends *****/
}

/* Landscape Very Small Screens */
@media (min-width: 40em) {
  .container {
    width: 38.125em;
  }

  /***** our-team begins *****/
  .our-team .content-box-wrapper {
    position: relative;
  }
  .our-team .grid-box-2 {
    position: absolute;
  }
  .our-team .grid-box-2:first-child {
    position: static;
  }
  .our-team .grid-box-2 .content-box {
    float: left;
  }
  /***** our-team ends *****/

  .footer .blog {
    float: right;
  }
}

/* Small screens */
@media (min-width: 48em) {
  .container {
    width: 46.125em;
  }
  /***** performance begins *****/
  .performance .layout-padd {
    padding: 3.1875em 0 0 0;
  }
  .performance .main .grid-box-2:after {
    float: none;
  }
  /***** performance ends *****/
}

/* Medium screens */
@media (min-width: 62em) {
  .container {
    width: 60.125em;
  }

  /* Header begins */

  .header .nav ul {
    position: static;
    float: right;
  }
  .header .nav li {
    float: left;
  }
  .header .nav .dropdown {
    position: relative;
  }
  .header .nav .dropdown .dropdown-content {
    float: none;
    position: absolute;
  }
  .header .nav .dropdown-content li {
    float: none;
  }
  .header .nav .search {
    position: relative;
  }
  .header .nav .search .search-bar {
    position: absolute;
  }
  /* Header ends */
}

/* Large screens */
@media (min-width: 75em) {
  .container {
    width: 73.125em;
  }

  /***** Our team begins *****/
  .our-team .content-box {
    float: left;
  }
  .our-team .content-box-wrapper {
    position: relative;
  }
  .our-team .content-box-wrapper > div {
    position: absolute;
  }
  .our-team .content-box-wrapper .grid-box-2 {
    float: left;
  }
  .our-team .grid-box-2 {
    position: static;
  }
  /***** Our team ends *****/

  /***** Best Solution begins *****/
  .best-solution .client-slider li {
    float: left;
  }
  /***** Best Solution ends *****/

  /***** Footer begins *****/
  .footer .posts .post-img {
    float: left;
  }
  .footer .copyright .main li {
    float: left;
  }
  .col2-left .main {
    float: none;
  }
  /***** Footer ends *****/
}
