@charset "UTF-8";

.container {
  width: 18em;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}

/* Very very small screens */
@media only screen and (min-width: 20em) {
  .container {
    width: 20em;
  }
}

/* Samsung Galaxy S5 portrait */
@media (min-width: 22.5em) {
  .container {
    width: 22.5em;
  }
}

/* Very Small screens */
@media (min-width: 30em) {
  .container {
    width: 30em;
  }
}

/* Landscape Very Small Screens */
@media (min-width: 40em) {
  .container {
    width: 40em;
  }
}

/* Small screens */
@media (min-width: 48em) {
  .container {
    width: 48em;
  }
}

/* Medium screens */
@media (min-width: 62em) {
  .container {
    width: 62em;
  }
}

/* Large screens */
@media (min-width: 73.125em) {
  .container {
    width: 73.125em;
  }
}
