@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #feffff;
}
html,
body {
  overflow-x: hidden;
  background: #f3f3f3;
}
