@charset "UTF-8";

/***** header begins *****/
.header {
  background: url(../images/header-bg.png) repeat-x bottom left #76c7c1;
}
.header .logo {
  padding: 1.3125em 0 1.5625em 0.5625em;
}
.header a.toggler {
  background: url(../images/toggler.png) no-repeat center center;
  display: block;
  width: 1.375em;
  height: 1.375em;
  padding: 1.3125em 0.5625em 1.5625em 0;
}
.header .nav ul {
  width: 100%;
  top: 5em;
  left: 0;
  display: none;
  background: #76c7c1;
  z-index: 20;
}
.header .nav .toggler:hover + ul {
  display: block;
}
.header .nav ul:hover {
  display: block;
}
.header .nav li {
  line-height: 3.2em;
  border-bottom: 0.0625em solid #528a87;
  text-align: right;
  padding: 0 3.375em 0 3.375em;
}
.header .nav li a {
  line-height: 3em;
  font-size: 0.75em;
  display: block;
  text-transform: uppercase;
}
.header .nav li a:hover {
  color: #ec615e;
  text-decoration: underline;
}
.header .nav .curved-edges > a:before {
  background: url(../images/curved-edges-left.png) no-repeat top left;
  content: "";
  display: block;
  width: 0.5em;
  height: 3em;
  padding: 0 0 0 1.3333em;
  z-index: 10;
}
.header .nav .curved-edges > a {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  background: url(../images/curved-edges-center.png) repeat-x top left;
}
.header .nav .dropdown.curved-edges > a:before {
  margin-top: 0;
}
.header .nav .curved-edges > a:after {
  content: "";
  display: block;
  width: 0.5em;
  height: 3em;
  padding: 0 1.0833em 0 0;
  background: url(../images/curved-edges-right.png) no-repeat top right;
}
.header .nav .dropdown > a:before {
  content: url(../images/dropdown-icon.png);
  display: block;
  width: 1em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.header .nav .dropdown .dropdown-content {
  display: none;
}
.header .nav .dropdown a:hover + .dropdown-content {
  display: block;
}
.header .nav .dropdown-content li {
  font-size: 0.75em;
  border-top: 0.0833em solid #528a87;
  border-bottom: none;
}
.header .nav .dropdown-content li:first-child {
  border-top: none;
}
.header .nav .search .search-bar:before,
.header .nav .search .search-bar:after {
  content: url(../images/search-bar-mobile-left.png);
  display: block;
  width: 0.5em;
  height: 2.5em;
  padding: 0.41667em 0;
}
.header .nav .search .search-bar:after {
  content: url(../images/search-bar-mobile-right.png);
}
.header .nav .search-bar input {
  font-size: 0.75em;
  line-height: 2.5em;
  padding: 0.41667em 0;
  background: url(../images/search-bar.png) repeat-x center;
  color: #76807f;
}
.header .nav .search .search-icon {
  background: url(../images/search-icon-mobile.png) no-repeat top right;
  width: 1.6667em;
  height: 1.6667em;
  margin-top: 1em;
}
/***** header ends *****/

/***** page-heading begins *****/
.page-heading {
  background: #ececec;
}
.page-heading .page-title {
  font-size: 1.1875em;
  line-height: 4.210526em;
  font-weight: 400;
  color: #777d7d;
  text-transform: uppercase;
  padding: 0 0 0 0.45em;
}
.page-heading .breadcrumbs li {
  font-size: 0.75em;
  line-height: 6.6667em;
  color: #7c807f;
  text-transform: capitalize;
}
.page-heading .breadcrumbs li:before {
  content: "/";
  padding: 0 0.6667em;
}
.page-heading .breadcrumbs li:first-child:before {
  content: "";
}
.page-heading .breadcrumbs li a {
  color: #7c807f;
  text-decoration: none;
}
.page-heading .breadcrumbs li a:hover {
  color: #e9645b;
  text-decoration: underline;
}
.page-heading .bottom-decor {
  background: #f3f3f3;
}
.page-heading .bottom-decor .inverted-triangle {
  background: url(../images/inverted-triangle.png) no-repeat top left;
  height: 1em;
}
/***** page-heading ends *****/

/***** performance begins *****/
.performance {
  background: #f3f3f3;
  color: #6d6d6d;
  padding: 1.125em 0 4.125em 0;
}
.performance .heading {
  font-size: 1.875em;
  font-weight: 400;
  color: #e9645b;
  padding-bottom: 0.63333333em;
}
.performance p {
  font-size: 0.875em;
  line-height: 1.357142857em;
  color: #848a8a;
}
.performance .aside {
  width: 18.75em;
  text-align: center;
}
.performance .aside strong {
  font-size: 1em;
  line-height: 3.3125em;
  color: #798281;
  padding: 0 0 0 0.125em;
}
.performance .aside ul {
  padding-top: 0.75em;
  text-align: left;
}
.performance .aside li {
  background: url(../images/list-icon.png) no-repeat left center;
  font-size: 0.75em;
  line-height: 2.25em;
  padding-left: 1.66666667em;
  color: #6d6d6d;
}
.performance .main {
  padding: 0.8125em 0 0 0;
  text-align: left;
}
.performance .main p {
  font-size: 0.75em;
  line-height: 2.083333333333333em;
  padding: 2em 0.75em 0 0.75em;
}
.performance .main p a {
  color: #e9645b;
}
.performance .main p a:hover {
  color: #76c7c1;
}
.performance .main .visuals {
  text-align: center;
  text-transform: uppercase;
  padding: 3.4375em 0 0 0em;
}
.performance .main .visuals .content {
  padding-top: 2em;
}
.performance .main .visuals .grid-box-2:first-child .content:first-child {
  padding-top: 0;
}
.performance .main .visuals .number {
  font-size: 1.8125em;
  line-height: 1.655172413793103em;
  font-weight: 600;
  margin-top: -1.482758620689655em;
  color: #6d6d6d;
}
.performance .main .visuals .visual-title {
  font-size: 1em;
  line-height: 2.4375em;
  font-weight: 600;
  color: #6d6d6d;
}
.performance .main-wrapper .r.aside {
  display: none;
}
/***** performance ends *****/

/***** our-team begins *****/
.our-team {
  background: url(../images/ourwork_pattern.png) repeat-x top left #ececec;
  padding: 3.9375em 0 0.5625em 0;
}
.our-team h2 {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  color: #7e8c8c;
  text-transform: uppercase;
  padding: 0 0 1.75em 0;
}
.our-team .content-box-wrapper {
  text-align: center;
}
.our-team .content-box .image-holder {
  width: 16.875em;
  height: 19.6875em;
  margin: 0 auto 5em auto;
}
.our-team .content-box .image {
  width: 16.875em;
  height: 19.6875em;
  background: url(../images/team-placeholder.png) no-repeat top left;
}
.our-team .content-box .button {
  bottom: -1.5em;
  left: 2.3125em;
}
.our-team .content-box .button a {
  background: #99a3a4;
  color: #fcffff;
  text-decoration: none;
  display: block;
  font-size: 0.75em;
  line-height: 4.5em;
  width: 16.66666666666667em;
  text-align: center;
}
.our-team .content-box .button a:before {
  content: url(../images/btn-top.png);
  display: block;
  top: -2.25em;
  left: 0;
}
.our-team .content-box .button a:after {
  content: url(../images/btn-bottom.png);
  display: block;
  bottom: -1.916666666666667em;
  left: 0;
}
.our-team .content-box:hover .button a:before {
  content: url(../images/btn-top-hover.png);
}
.our-team .content-box:hover .button a:after {
  content: url(../images/btn-bottom-hover.png);
}
.our-team .content-box:hover .button a {
  background: #e9645b;
}
.our-team .content-box .content {
  font-size: 0.75em;
  line-height: 2.083333333333333em;
  background: #90d1cb;
  color: #feffff;
  display: none;
  font-style: italic;
  text-align: left;
  top: 0;
  left: 0;
  width: 16.33333333333333em;
  height: 20.25em;
  padding: 3em 3.083333333333333em;
}
.our-team .content-box:hover .content {
  display: block;
}
.our-team .content-box .top-shadow {
  background: url(../images/content-top-shadow.png) no-repeat top left;
  width: 16.875em;
  height: 0.3125em;
  top: 0;
  left: 0;
  z-index: 5;
}
.our-team .content-box .bottom-shadow {
  background: url(../images/content-bottom-shadow.png) no-repeat bottom left;
  width: 16.875em;
  height: 0.625em;
  bottom: 0;
  left: 0;
}
.our-team .content-box .social {
  padding-top: 3.9375em;
}
.our-team .content-box .social li {
  padding-left: 0.625em;
}
.our-team .content-box .social li:first-child {
  padding-left: 0.125em;
}
.our-team .content-box .social li:hover {
  top: -0.125em;
}
/***** our-team ends *****/

/***** best-solution begins *****/
.best-solution {
  background: #f3f3f3;
  padding: 4.125em 0 4.125em 0;
}
.best-solution h2 {
  font-size: 2.6875em;
  line-height: 1.162790697674419em;
  font-weight: lighter;
  text-align: center;
  color: #e9645b;
  padding: 0 0 0.2790697674418605em 0;
}
.best-solution p {
  font-size: 0.75em;
  line-height: 1.666666666666667em;
  text-align: center;
  color: #6d6d6d;
  padding: 1em 0 1.583333333333333em 0;
}
.best-solution .clients {
  padding: 1.5em 0 0 0;
  color: #7f928e;
}
.best-solution .clients .text {
  font-size: 1em;
  line-height: 3.3125em;
  padding-right: 1em;
  background: #f3f3f3;
}
.best-solution .clients .separator {
  width: 1em;
  padding: 1.4375em 0 0 0;
}
.best-solution .clients .separator .circle {
  background: url(../images/happy-client-circle.png) no-repeat center left;
  height: 0.5625em;
}
.best-solution .clients .separator .line {
  background: url(../images/happy-client-line.png) repeat-x center left;
  height: 0.5625em;
  padding-left: 0.5625em;
}
.best-solution .clients .controls {
  padding-top: 0.4375em;
  background: #f3f3f3;
}
.best-solution .clients .controls .left,
.best-solution .clients .controls .right {
  background: url(../images/slider-normal.png) no-repeat top right;
  padding-left: 1.1875em;
}
.best-solution .clients .controls .left:hover,
.best-solution .clients .controls .right:hover {
  background: url(../images/slider-hover.png) no-repeat top right;
}
.best-solution .clients .controls .right a,
.best-solution .clients .controls .left a {
  background: url(../images/slider-left-icon.png) no-repeat center;
  display: block;
  width: 2.5em;
  height: 2.5em;
}
.best-solution .clients .controls .right a {
  background-image: url(../images/slider-right-icon.png);
}
.best-solution .client-slider {
  padding-top: 2.125em;
  height: 5.875em;
  overflow: hidden;
}
.best-solution .client-slider .items {
  width: 100%;
  background: url(../images/client-frame.png) no-repeat center;
  background-size: auto 100%;
  text-align: center;
  margin: 0 auto;
}
/***** best-solution ends *****/

/***** footer begins *****/
.footer {
  background: url(../images/footer-bg.png) repeat-x top left #76c7c1;
  color: #feffff;
}
.footer .companylinks {
  padding: 2.8125em 0 1.875em 0;
}
.footer .companylinks a {
  color: #feffff;
  text-decoration: none;
}
.footer .companylinks a:hover {
  color: #feffff;
  text-decoration: underline;
}
.footer .companylinks .logo {
  padding: 0 0 1.125em 0;
}
.footer .col3-left > .left {
  padding-bottom: 1em;
}
.footer .col3-left > .left p {
  font-size: 0.75em;
  line-height: 2em;
}
.footer .col3-left > .left .info {
  padding-top: 1.666666666666667em;
}
.footer .col3-left > .left p em {
  font-size: 1.666666666666667em;
  line-height: 1.45em;
  font-weight: 600;
}

.footer .col2-left .left {
  width: 50%;
}
.footer .col2-left .main-wrapper {
  width: 50%;
  float: right;
}
.footer .col2-left .list-heading {
  font-size: 1.25em;
  font-weight: 600;
  color: #4a8080;
  padding-top: 0.2em;
}
.footer .col2-left ul {
  padding: 1.625em 0 0 1.3125em;
}
.footer .col2-left li {
  background: url(../images/footer-list-icon.png) no-repeat left center;
  line-height: 1.4375em;
}
.footer .col2-left li a {
  font-size: 0.75em;
  line-height: 1.916666666666667em;
  padding: 0 0 0 1.666666666666667em;
}

.footer .blog {
  padding-top: 3em;
}
.footer .blog em,
.footer .blog strong {
  font-size: 1.375em;
}
.footer .blog .posts ul {
  padding: 0.1875em 0 0 0;
}
.footer .blog .posts li {
  padding: 1.25em 0 0 0;
}
.footer .blog .posts .post-img {
  background: url(../images/footer-image.png) no-repeat left center;
  width: 4.375em;
  height: 4.375em;
  padding-right: 1.125em;
}
.footer .blog .posts .post-img:before,
.footer .blog .posts .post-img:after {
  display: block;
}
.footer .blog .posts .post-info p {
  font-size: 0.75em;
  line-height: 1.583333333333333em;
}
.footer .blog .posts .post-info span {
  color: #448581;
}
.footer .copyright {
  background-color: #6bb4ad;
}
.footer .copyright .left {
  font-size: 0.75em;
  line-height: 4.166666666666667em;
  width: auto;
}
.footer .copyright .main-wrapper {
  width: auto;
}
.footer .copyright .main {
  width: auto;
}
.footer .copyright .main ul {
  padding: 0;
}
.footer .copyright .main li {
  background: none;
  padding: 0.875em 0 0 1.4375em;
}
.footer .copyright .main a {
  padding: 0;
}
.footer .copyright .main a:hover {
  position: relative;
  top: -2px;
}
/***** footer ends *****/

/* Very very small screens 320px*/
@media only screen and (min-width: 20em) {
  body,
  html {
    overflow-x: hidden;
  }
}

/* Samsung Galaxy S5 portrait 360px */
@media (min-width: 22.5em) {
  /***** performance begins *****/
  .performance .aside {
    text-align: left;
  }
  /***** performance ends *****/

  /***** best-solution begins *****/
  .best-solution .clients .separator {
    width: 3.5em;
  }
  /***** best-solution ends *****/
}

/* Very Small screens 480px*/
@media (min-width: 30em) {
  /***** performance begins *****/
  .performance .main .grid-box-2 {
    padding-top: 2em;
  }
  .performance .main .grid-box-2:after {
    content: "";
    display: block;
    clear: both;
  }
  .performance .main .grid-box-2:first-child {
    padding-top: 0;
  }
  .performance .main .visuals .content {
    width: 50%;
    padding: 0 0 0 0;
  }
  /***** performance ends *****/

  /***** best-solution begins *****/
  .best-solution .clients .separator {
    width: 11em;
  }
  .best-solution .client-slider .items {
    width: 50%;
    margin: 0;
  }
  /***** best-solution ends *****/

  /***** footer begins *****/
  /***** footer ends *****/
}

/* Landscape Very Small Screens 640px*/
@media (min-width: 40em) {
  /***** performance begins *****/
  .performance .main .grid-box-2 {
    padding-top: 0;
  }
  .performance .main .grid-box-2:after {
    content: none;
  }
  .performance .main .visuals .content {
    width: auto;
    padding: 0 0 0 1.4375em;
  }
  .performance .main .grid-box-2:first-child .content:first-child {
    padding: 0;
  }
  /***** performance ends *****/

  /***** our-team begins *****/
  .our-team {
    padding: 3.9375em 0 13.6875em 0;
  }
  .our-team .content-box-wrapper {
    width: 35.625em;
    margin: 0 auto;
  }
  .our-team .grid-box-2:after {
    content: "";
    display: block;
    float: none;
    clear: both;
  }
  .our-team .grid-box-2 .content-box {
    padding-left: 1.875em;
  }
  .our-team .grid-box-2 .content-box:first-child {
    padding-left: 0;
  }
  /***** our-team ends *****/
  /***** best-solution begins *****/
  .best-solution {
    background: #f3f3f3;
    padding: 12.1875em 0 4.125em 0;
  }
  .best-solution .clients .separator {
    width: 21em;
  }
  .best-solution .client-slider .items {
    width: 33.33333333333333%;
  }
  /***** best-solution ends *****/
  /***** footer begins *****/
  .footer .blog {
    padding-top: 0;
  }
  /***** footer ends *****/
}

/* Small screens 768px*/
@media (min-width: 48em) {
  /***** performance begins *****/
  .performance .main {
    width: 27.375em;
    padding: 0;
  }
  .performance .main p {
    padding: 0;
  }
  .performance .main .grid-box-2 {
    padding-top: 1em;
  }
  .performance .main .grid-box-2:after {
    content: "";
    display: block;
    clear: both;
  }
  .performance .main .grid-box-2:first-child {
    padding-top: 0;
  }
  .performance .main .visuals .content {
    width: 50%;
    padding: 0 0 0 0;
  }
  /***** performance ends *****/

  /***** best-solution begins *****/
  .best-solution h2 {
    line-height: 1.627906976744186em;
    padding: 0 0 0.0465116279069767em 0;
  }
  .best-solution p {
    padding: 0 3.583333333333333em 1.583333333333333em 3.583333333333333em;
  }
  .best-solution .clients .separator {
    width: 29em;
  }
  .best-solution .client-slider .items {
    width: 25%;
  }
  /***** best-solution ends *****/
  .footer .col2-left .left {
    width: 10.625em;
  }
  .footer .col2-left .main {
    width: 10.625em;
  }
  .footer .copyright .main {
    width: auto;
  }
}

/* Medium screens 992*/
@media (min-width: 62em) {
  /***** header begins *****/
  .header a.toggler {
    display: none;
  }
  .header .nav ul {
    display: block;
    background: transparent;
    width: auto;
    right: 0;
    top: 0;
    left: auto;
  }
  .header .nav li {
    line-height: 5em;
    border-bottom: none;
    text-align: right;
    padding: 0 0 0 3.375em;
  }
  .header .nav li:first-child {
    padding: 0 0 0 0;
  }
  .header .nav li a {
    display: inline;
  }
  .header .nav .dropdown a:before {
    margin-top: 1.833333333333333em;
  }
  .header .nav .curved-edges a {
    margin-top: 1.8333em;
    margin-bottom: 0em;
  }
  .header .nav .dropdown .dropdown-content {
    top: 3.5em;
    left: 0;
    text-align: left;
    background: #76c7c1;
    border: 0.0833em solid #528a87;
  }
  .header .nav .dropdown-content li {
    line-height: 3.2em;
    text-align: left;
    padding: 0 1.375em 0 1.375em;
  }
  .header .nav .search {
    padding-right: 0.5em;
    padding-left: 1.814em;
  }
  .header .nav .search .search-bar {
    display: none;
    right: 0;
    top: 2.8125em;
    width: 12.5em;
  }
  .header .nav .search .search-bar:before,
  .header .nav .search .search-bar:after {
    margin-top: 0.5625em;
  }
  .header .nav .search-bar input {
    width: 15.3333em;
  }
  .header .nav .search .search-icon {
    background: url(../images/search-icon.png) no-repeat top right;
    width: 2.8333em;
    height: 3.6667em;
    margin-top: 2.3em;
  }
  .header .nav .search:hover .search-icon {
    background: url(../images/search-hover.png) no-repeat top right;
    width: 2.8333em;
    height: 3.6667em;
    margin-top: 1.8em;
  }
  .header .nav .search:hover .search-bar {
    display: block;
  }
  /***** header ends *****/

  /***** page-heading begins *****/
  .performance .heading {
    line-height: 2.2667em;
    padding-bottom: 0em;
  }
  /***** page-heading ends *****/

  /***** performance begins *****/
  .performance .main {
    width: 35.625em;
  }
  .performance .main .visuals {
    text-align: center;
    text-transform: uppercase;
    padding: 3.4375em 0 0 0.6875em;
  }
  .performance .main p {
    padding: 0 1.75em 0 1.75em;
  }
  /***** performance ends *****/

  /***** best-solution begins *****/
  .best-solution p {
    padding: 0 9.583333333333333em 1.583333333333333em 9.583333333333333em;
  }
  .best-solution .clients .separator {
    width: 43em;
  }
  .best-solution .client-slider .items {
    width: 20%;
  }
  /***** best-solution ends *****/
}

/* Large screens 1200px*/
@media (min-width: 75em) {
  /***** performance begins *****/
  .performance .main {
    padding-top: 0.8125em;
  }
  .performance .main .grid-box-2 {
    padding-top: 0;
  }
  .performance .main .grid-box-2:after {
    content: none;
  }
  .performance .main .visuals .content {
    width: auto;
    padding: 0 0 0 1.4375em;
  }
  .performance .main .grid-box-2:first-child .content:first-child {
    padding: 0;
  }
  .performance .main-wrapper .r.aside {
    display: block;
  }
  .performance .col3-left .r {
    padding: 0 0 0 1.625em;
    width: 17.125em;
  }
  .performance .dialouge {
    background: url(../images/quote-top.png) no-repeat top left #f8f8f8;
    text-align: left;
    width: 16.9375em;
    margin: 0.375em 0 0 0.1875em;
  }
  .performance .dialouge p {
    font-size: 0.75em;
    line-height: 2.083333333333333em;
    font-style: italic;
    padding: 0.9166666666666667em 1.416666666666667em 0.1666666666666667em;
    letter-spacing: 0.0291666666666667em;
  }
  .performance .speeker {
    background: url(../images/quote-bottom.png) no-repeat top left #f3f3f3;
    padding: 0 0 0 3.6875em;
    text-align: left;
  }
  /***** performance ends *****/

  /***** our-team begins *****/
  .our-team .content-box-wrapper {
    width: auto;
  }
  .our-team .grid-box-2:after {
    content: none;
    display: none;
    float: none;
    clear: none;
  }
  .our-team .grid-box-2 .content-box:first-child {
    padding-left: 1.875em;
  }
  .our-team .grid-box-2:first-child .content-box:first-child {
    padding-left: 0;
  }
  /***** our-team ends *****/
  /***** best-solution begins *****/
  .best-solution .clients .separator {
    width: 56em;
  }
  .best-solution .client-slider .items {
    padding-left: 1.875em;
    width: 10.625em;
    background-position: right;
  }
  .best-solution .client-slider .items:first-child {
    padding-left: 0;
  }
  /***** best-solution ends *****/
  /***** footer begins *****/
  .footer .col3-left > .left {
    width: 23.125em;
  }
  .footer .col3-left .main {
    width: 23.125em;
    padding-left: 1.875em;
  }
  /***** footer ends *****/
}
