* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background: #f7f7f7;
}
.icon{
  text-indent: -10000px;
  display: block;
  width: 3.4375em;
  height: 3.4375em;
  background-size: 100%;
  text-indent: -10000px;
}
.ico-menu {
  background: url(../images/header/menu-icon.png) no-repeat center;
}
.ico-rss {
  background: url(../images/header/rss-feed.png) no-repeat center;
}
.ico-twitter {
  background: url(../images/header/twitter.png) no-repeat center;
}
.ico-tumbler {
  background: url(../images/header/tumbler.png) no-repeat center;
}
.ico-fb {
  background: url(../images/header/facebook.png) no-repeat center;
}
.ico-search {
  background: url(../images/header/search.png) no-repeat center;
}
.ico-menu:hover {
  background: url(../images/header/menu-icon-hover.png) no-repeat center;
}
.ico-rss:hover {
  background: url(../images/header/rss-feed-hover.png) no-repeat center;
}
.ico-twitter:hover {
  background: url(../images/header/twitter-hover.png) no-repeat center;
}
.ico-tumbler:hover {
  background: url(../images/header/tumbler-hover.png) no-repeat center;
}
.ico-fb:hover {
  background: url(../images/header/facebook-hover.png) no-repeat center;
}
.ico-search:hover {
  background: url(../images/header/search-hover.png) no-repeat center;
}

.ico-square {
  background: url(../images/banner/box-inactive.png) no-repeat center;
}
.ico-square:hover {
  background: url(../images/banner/box-active.png) no-repeat center;
}
.ico-square.active {
  background: url(../images/banner/box-active.png) no-repeat center;
}
.ico-pinterest {
  background: url(../images/post/pinterest.png) no-repeat center;
}
.ico-travel {
  background: url(../images/post/tag-travel.png) no-repeat center;
}
.ico-quote {
  background: url(../images/post/tag-quote.png) no-repeat center;
}